.personal-info {
    width: 350px;
    margin: 40px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}


.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ddd;
    margin-bottom: 20px;
}


.user-data {
    width: 100%;
}


.user-data p {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    color: #555;
    font-size: 15px;

}


.user-data strong {
    color: #222;
    margin-bottom: 4px;

}


.user-data span {
    background: #f4f4f4;
    padding: 8px;
    border-radius: 8px;
    color: #333;
}


/* Botones */
button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.9;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Formulario */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label span {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #03e229;
}

/* Botón publicar */
.submit {
    width: 100%;
    background-color: #e90707;
    color: white;
}

/* Sección de publicaciones */
.publicaciones {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
}