.ordenar-por{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:25px;
}

.ordenar-por p{
    font-weight:bold;
}


.ordenar-por button,
.paginacion button{
    padding:8px 15px;
    border:none;
    cursor:pointer;
    background:#333;
    color:white;
}


.ordenar-por button:hover,
.paginacion button:hover{
    opacity:0.8;
}




.lista-publicaciones{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.preview-publicacion{
    width:260px;
    overflow:hidden;
    cursor:pointer;
    background:white;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    transition:transform 0.2s;
}

.preview-publicacion h3{
    margin:12px;
    font-size:18px;
}

.preview-publicacion img{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
}

.preview-publicacion span{
    display:block;
    margin:12px;
    color:#666;
    font-size:14px;
}

.paginacion{
    margin-top:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}



.pagina-actual{
    font-weight:bold;
}