<div class="publicacion">

    <div class="cabecera">
        <h3>{{ nombreDeUsuario }}</h3>
    </div>

    <div class="detalles">
        <span class="fecha">
            {{ fecha }}
        </span>
    </div>

    <div class="contenido">

        @if (contenido) {
        <img [src]="contenido" alt="Imagen de la publicación">
        }

    </div>

    <div class="interaccion-publicacion">


        <div class="contador-likes">
            <span>
                {{ likes }} Me gusta
            </span>
        </div>



        <div>
            @if(!usuarioYaDioLike()){
            <button class="btn-like" (click)="darLike()">
                Me gusta
            </button>
            }


            @if(usuarioYaDioLike()){
            <button class="btn-quitar-like" (click)="quitarLike()">
                Quitar me gusta
            </button>
            }
        </div>


    </div>



    <div class="descripcion-publicacion">

        <p>
            {{ descripcion }}
        </p>

    </div>

    <div class="contenedor-comentarios">

        <h4 class="titulo-comentarios">
            Comentarios
        </h4>

        @if(!aniadirComentarioFlag){
        <button class="btn-anadir-comentario" (click)="habilitarFormularioComentario()">
            Añadir comentario
        </button>
        <br>
        }@else {
        <form class="form-comentario" [formGroup]="formularioComentario" (ngSubmit)="agregarComentario()">
            <input class="input-comentario" type="text" formControlName="comentario"
                placeholder="Escribe un comentario...">

            <div class="acciones-comentario">
                <button class="btn-publicar" type="submit">
                    Publicar
                </button>

                <button class="btn-cancelar" type="button" (click)="inhabilitarFormularioComentario()">
                    Cancelar
                </button>
            </div>

        </form>
        }

        <br>


        <div class="lista-comentarios">

            @for(
            comentario of listaComentarios;
            track comentario?._id
            ){

            <div class="comentario">


                <div class="cabecera-comentario">

                    <strong class="usuario-comentario">
                        {{ comentario.nombreDeUsuario }}
                    </strong>


                    @if (comentario.idUsuario == authService.usuarioLogueado?._id) {
                    <button class="btn-modificar" (click)="editarComentario(comentario)">
                        Modificar
                    </button>
                    }

                </div>


                @if(comentarioEditandoId === comentario._id){

                <textarea class="input-editar-comentario" [(ngModel)]="mensajeEditando">
</textarea>


                <button class="btn-publicar" (click)="guardarComentarioEditado(comentario)">
                    Guardar
                </button>


                <button class="btn-cancelar" (click)="comentarioEditandoId = null">
                    Cancelar
                </button>


                }
                @else {


                <p class="mensaje-comentario">

                    {{ comentario.mensaje }}


                    @if(comentario.modificado){

                    <small class="editado">
                        editado
                    </small>

                    }


                </p>


                }


            </div>


            }


        </div>


        <button class="btn-cargar" (click)="cargarMasComentarios()">

            Cargar más comentarios

        </button>


    </div>

    @if(esMia()){
    <button class="btn-eliminarPublicacion" (click)="eliminarPublicacion()">Eliminar Publicación
    </button>
    }

</div>